/* General styling for the whole app */
.app {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Styling the title */
h2 {
    color: #333;
    font-size: 24px;
}

/* Paragraph styling */
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Specific styling for the preview area */
.preview {
    display: flex;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0px 10px 0px 10px;
    font-family: monospace;
}

.example {
    display: flex;
    width: 100%;
    padding: 10px;
}

.arrow {
    display: flex;
    align-items: center; 
}
/* Input box styling */
.input-box textarea {
    width: 100%; /* Overrides cols attribute for responsive width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in the width */
    font-size: 14px;
    color: #333;
}

/* Button styling */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #004187;
}

/* Output box styling */
.output-box {
    margin-top: 20px;
    border: 2px solid #007BFF;
    padding: 10px;
    background-color: #fff;
}

.output-box p {
    color: #333;
}

/* Style for the preformatted text */
pre {
    white-space: pre-wrap;       /* Wraps text */
    word-wrap: break-word;       /* Break the word at the edge of the box */
    overflow-wrap: break-word;   /* Break the word if necessary */
    color: #333;
    font-family: monospace;
}

.record-event {
    display: flex; /* Uses flexbox to align children horizontally */
    align-items: center; /* Vertically centers all items in the line */
    font-size: 12px; /* Base font size for the paragraph */
    margin-bottom: 0px;
    margin-top: 0px;
}

.record-event-day {
    margin-right: 10px; /* Adds space between the day and the event name */
    font-weight: bold; /* Makes the day stand out */
}

.record-event-name {
    flex-grow: 1; /* Allows the event name to take up remaining space */
}

.record-event-time {
    font-size: 10px; /* Smaller font size than the rest of the text */
    padding-left: 5px; /* Adds a little space between the name and the time */
}

.record-month {
    font-size: 14px;
    font-weight: bold ;
    font-variant: small-caps;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 5px;
}

#copy-button {
    display: flex; /* Uses flexbox to align children horizontally */
    align-items: center; /* Vertically centers all items in the line */
    padding: 5px 5px 5px 5px;
    --tw-bg-opacity: 1;
    background-color: rgba(73, 73, 73, var(--tw-bg-opacity));
}
#copy-button:hover {
    background-color: rgba(113, 113, 113, var(--tw-bg-opacity));
}
#copy-button:active {
    background-color: rgba(13, 13, 13, var(--tw-bg-opacity));
}

.hidden {
    display: none;
}

#